#bezier-control-point-2 {
  position: absolute;
  z-index: 10;
  padding: 8px;
  border-radius: 8px;
  background-color: #90caf9;
  cursor: move;
  left: 320px;
  top:320px;
}

#bezier-control-point-1 {
  position: absolute;
  z-index: 10;
  padding: 8px;
  border-radius: 8px;
  background-color: #90caf9;
  cursor: move;
  left: 80px;
  top:80px;
}

#bezier-control-container{
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
}

#curve-canvas{
  width: 400px;
  height:400px;
}
